/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

footer nav a {
    color: white;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

footer nav {
    display: flex; /* Permet d'aligner les éléments dans le footer */
    justify-content: center;
    flex-wrap: wrap; /* Permet aux liens de passer sur une nouvelle ligne si l'écran est trop petit */
}

/* Responsive design pour les écrans de moins de 768px */
@media (max-width: 768px) {
    footer {
        padding: 15px; /* Réduit le padding pour les petits écrans */
    }

    footer nav a {
        font-size: 16px; /* Réduit légèrement la taille de la police */
        margin: 5px; /* Ajoute de l'espace autour des liens */
    }
}

/* Responsive design pour les écrans de moins de 480px */
@media (max-width: 480px) {
    footer nav a {
        font-size: 14px; /* Encore plus petite police pour les très petits écrans */
        display: block; /* Place chaque lien sur une nouvelle ligne */
        margin: 8px 0; /* Espacement vertical entre les liens */
    }
}
