h2 {
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / .1);
}


#userTable {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-info p {
    margin-bottom: 15px; /* Ajoute de l'espace entre les paragraphes */
    line-height: 10px;    
}

.user-info .label {
    font-weight: bold;   /* Applique le style 'strong' */
    margin-right: 10px;  /* Espace entre le label et la valeur */
}

