/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    background-color: #fff;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

html {
    scroll-behavior: smooth;
}

header nav{
    font-size: 14px;
    flex-grow: 0.5;
    display: flex;
    justify-content: space-between; /* Move items to the right */
}



.logo img {
    max-width: 200px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 1.8em;
    justify-content: space-between;
    
}

nav a:hover{
    color: #0a4e44;
}
.cta-buttons {
    display: flex;
    gap: 10px;
}

.btn-primary, .btn-secondary {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.btn-primary {
    background-color: #075906;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    color: #5a00cc;
    border: 2px solid #5a00cc;
}

/* Hero section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fdfdfd;
}

.hero-content {
    max-width: 500px;
}

.hero h1 {
    font-size: 52px;
    color: #333;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

/*Section A propos*/
.about-section {
    padding: 50px;
    background-color: #f7f9fc;
    color: #333;
    text-align: center;
}

.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.about-section .btn-secondary {
    margin-top: 30px;
    display: inline-block;
    background-color: #0274be;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.about-section .btn-secondary:hover {
    background-color: #00a5bd;
}

.about-section img {
    width: 400;
}


/* Annonces */
.annonces {
    padding: 50px;
    background-color: #f9f9f9;
}

.annonces h2 {
    text-align: center;
    margin-bottom: 30px;
}

.annonce-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.annonce {
    background-color: white;
    padding: 20px;
    height: 60%;
    border-radius: 10px;
    width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.annonce h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.annonce p {
    font-size: 18px;
    color: #666;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    
}


footer nav a{
    color: white;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

footer nav {
    justify-content: center;
}